---
import { Icon } from "astro-icon";
import { type ApiResults } from "../lib/getServerStatus.ts";

export interface Props {
  serverStatus: ApiResults;
  mcServerHost: string;
}

const { serverStatus, mcServerHost } = Astro.props;
---

<div class="w-full items-center">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
    Server is <mark class="px-2 text-white bg-green-600 rounded">Online</mark> !
  </h1>
  <div class="relative overflow-x-auto">
    <table class="w-full text-left text-gray-500 rtl:text-right">
      <tbody>
        <tr class="border-t bg-white">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Address</th>
          <td class="px-6 py-4 text-right">
            <div style="display: flex; align-items: center; justify-content: flex-end;">
              <button class="copy" id="copy-address" type="button">
                <Icon name="lucide:copy" />
              </button>
              <p>{mcServerHost}</p>
            </div>
          </td>
        </tr>
        <tr class="border-t bg-white">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Version</th>
          <td class="px-6 py-4 text-right">{serverStatus.Version}</td>
        </tr>
        <tr class="border-t bg-white">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">Players</th>
          <td class="px-6 py-4 text-right">
            {serverStatus.OnlinePlayers}/{serverStatus.MaxPlayers}
          </td>
        </tr>
        <tr class="border-b border-t bg-white">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">MOTD</th>
          <td class="px-6 py-4 text-right">{serverStatus.MOTD}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .copy {
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
    cursor: pointer;
  }
</style>

<script define:vars={{ mcServerHost }}>
  function writeClipboard(content) {
    navigator.clipboard.writeText(content);
  }

  document.getElementById("copy-address").addEventListener("click", writeClipboard(mcServerHost));
</script>
