---
import { Icon } from "astro-icon";
import { type ApiResults } from "../lib/getServerStatus.ts";

export interface Props {
  serverStatus: ApiResults;
  mcServerHost: string;
}

const { serverStatus, mcServerHost } = Astro.props;
---

<div class="w-full items-center">
  <div
    class="mb-8 rounded-lg border border-green-300 bg-green-50 p-4 text-lg text-green-800 dark:border-green-800 dark:bg-gray-800 dark:text-green-400"
    role="alert"
  >
    <span class="font-bold">Server Online!</span>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-left text-gray-500 rtl:text-right dark:text-gray-400">
      <tbody>
        <tr class="border-t bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"> Address</th>
          <td class="px-6 py-4 text-right">
            <div style="display: flex; align-items: center; justify-content: flex-end;">
              <button class="copy" id="copy-address" type="button">
                <Icon name="lucide:copy" />
              </button>
              <p>{mcServerHost}</p>
            </div>
          </td>
        </tr>
        <tr class="border-t bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"> Version</th>
          <td class="px-6 py-4 text-right">{serverStatus.Version}</td>
        </tr>
        <tr class="border-t bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"> Players</th>
          <td class="px-6 py-4 text-right">
            {serverStatus.OnlinePlayers}/{serverStatus.MaxPlayers}
          </td>
        </tr>
        <tr class="border-b border-t bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"> MOTD</th>
          <td class="px-6 py-4 text-right">{serverStatus.MOTD}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .copy {
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
    cursor: pointer;
  }
</style>

<script define:vars={{ mcServerHost }}>
  function writeClipboard(content) {
    navigator.clipboard.writeText(content);
  }

  document.getElementById("copy-address").addEventListener("click", writeClipboard(mcServerHost));
</script>
